<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
                <remove name="WebDAV" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Hrms.Api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
  	<environmentVariables>
    	<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
      <environmentVariable name="Line__MessagingChannelSecret" value="93b0d57aebeb7105b9508af7f0cab4b8" />
      <environmentVariable name="Line__MessagingChannelAccessToken" value="MC175yoGpxL6RucgngSz8FN+pxVolcx/hLCXL6i4Ui+GqizmfFhBkVm5qhoOYOB6zWrupwVeGmqWiYNXKSFkgtTCQ9LY4lghiE4IEutapOuoyxRqoHeELWe1b+EiF1cK3n5PfRAu2GG9xv3J64so/gdB04t89/1O/w1cDnyilFU=" />
  	</environmentVariables>
	</aspNetCore>
    </system.webServer>
  </location>
    <system.webServer>
        <modules>
            <remove name="WebDAVModule" />
        </modules>
    </system.webServer>
</configuration>